#navigation nav {
    height: 100px;
    background-color: #2c3e50 !important;
    text-transform: uppercase;
    padding-left: 75px;
    padding-right: 75px;
}

#navigation a.navbar-brand {
    font-weight: 700;
    font-size: 1.75em;
}

#navigation a.nav-link {
    font-weight: 700;
    color: white;
    padding-right: 40px;
}

#navigation a.nav-link:hover {
    color: #1abc9c;
}

#introduction div,
#about div {
    background-color: #1abc9c;
}

#portfolio div,
#contact div {
    background-color: white;
}

#introduction img {
    width: 15em;
}

#introduction h1 {
    font-weight: 700;
    color: white;
    font-size: 4em;
    padding-top: 1em;
}

#introduction p.break {
    color: white;
    font-size: 2em;
    padding-top: 0.5em;
}

#introduction p.lead {
    color: white;
    font-weight: 400;
    font-size: 1.5em;
    padding-top: 0.5em;
}

#portfolio h1,
#contact h1 {
    font-weight: 700;
    color: #2c3e50;
    font-size: 3.5em;
    padding-top: 1em;
}

#portfolio .breakline,
#contact .breakline {
    font-weight: 700;
    font-size: 1.75em;
    color: #2c3e50;
    padding-bottom: 1em;
}

#portfolio img {
    width: 100%;
    border-radius: 10px;
}

#portfolio .col-sm-12:hover .overlay {
    opacity: 90%;
  }

#portfolio .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #1abc9c;
    border-radius: 10px;
}

#portfolio .text {
    color: white;
    font-size: 5em;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

#about h1 {
    font-weight: 700;
    color: white;
    font-size: 3em;
    padding-top: 1em;
}

#about p.break {
    color: white;
    font-size: 2em;
}

#about p.lead {
    color: white;
    font-weight: 400;
    font-size: 1.5em;
}

#about p.text {
    color: white;
    font-size: 1.25em;
}

#about button {
    width: 220px;
    border-radius: 10px;
    height: 65px;
    padding: 15px;
    font-size: 1.3em;
    letter-spacing: -1px;
}

#about i.fas {
    padding-right: 0.5em;
}

#contact input {
    padding-bottom: 2.75em;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    border-color: #e6e6e6;
}

#contact textarea {
    padding-bottom: 5.5em;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    border-color: #e6e6e6;
    resize: none;
}

#contact input::placeholder,
#contact textarea::placeholder {
    color: #2c3e50;
    font-size: 1.5em;
    font-weight: 400;
 }

 #contact button {
    background-color: #1abc9c;
    border-color: #1abc9c;
    height: 60px;
    width: 110px;
    font-size: 1.25em;
 }

 #info {
    background-color: #2c3e50;
    color: white;
 }


 #info h3 {
    font-size: 1.65em;
    text-align: center;
    font-weight: 500;
 }

 #info h5 {
    font-size: 1.25em;
    text-align: center;
    font-weight: 400;
 }

 #info a {
    color: #1abc9c;
 }

 #info i {
    border-color: white;
    border-style: solid;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 1.25em;
    text-align: center;
    padding-top: 25%;
 }
